.lblQuestion{
    margin-right: 15%;
    margin-left: 15%;
}

#taAnswer{
    width: 70%;
    height: 200px;
}

#showAnswer{
    background-color:  #e6e5e5;
    color:  #8f8a8a;
}

.divAnswer{
    display: flex;
    gap: 10px;
}

.mainContent{
    margin-top: -400px;
    position: absolute;
    left: 10%;
    width: 60%;
}

.sidebar{
    position: absolute;
    left: 100%;
    width: 30%;
    top: 0%;
}

#taLatexEditor{
    height: 250px;
}

.drawingField{
    background-color: grey;
}

#userInfo{
    border: 1px solid black;
    padding: 10px;
}